#manue-list{
	padding-top: 18px;
	z-index: 999;
	background: #FFFFFF;
	position: relative;
	background:#fafafa ;
}
#manue-list  a{
	color: #333333 ;
}
#manue-list li{
	float: none;
}
.tiqian{
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/icons_03.png) -4px -4px no-repeat;
	position: relative;
	top: 10px;
	left: 3px;
	
}
.shop-o  i{
	font-size: 14px;
	display: inline-block;
	width: 88px;
	height: 50px;
	color: #333333;
	font-weight: normal;
	text-align: left;
}
#manue-list li >a:hover{
	background: white;
}
#manue-list li >a:hover .tiqian{
	background: url(../img/icons_03.png) -36px -4px no-repeat;
}
#manue-list li> a:hover i{
	color: #FF7919;
}
.jiantou1{
	background: url(../img/icons_03.png) -474px -15px no-repeat;
	display: inline-block;
	width: 5px;
	height: 8px;
}
#manue-list li> a:hover .jiantou1{
	background:url(../img/icons_03.png) -461px -15px no-repeat ;
}
.shu-list{
	width: 320px;
	height: 400px;
	position: absolute;
	left: 180px;
	top: 0px;
	background: url(../img/rAoKNVn7qEWAHyWEAAAVXkQyoRc553.jpg);
	display: none;
}
.shu-list ul{
	width: 320px;
	height: 400px;
	position: absolute;
	left: 0;
	top: 0;
	box-sizing: border-box;
	padding: 14px 30px;
}
.shu-list a{
	display: block;
	width: 90px;
	height: 60px;
	line-height: 60px;

}
.shuxian1 li{
	width: 100%;
	height: 60px;
}
.shu-list span{
	display: block;
	height: 0;
	width: 50px;
	border-bottom: 1px solid #DDDDDD;
	position: absolute;
	left: 50px;
}

.changpin{
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/icons_03.png) -6px -60px no-repeat;
	position: relative;
	top: 15px;
	left: 3px;
}
#manue-list li >a:hover .changpin{
	background: url(../img/icons_03.png) -38px -60px no-repeat;
}
.yanchanghui:hover .shu-list{
	display: block;
}
#manue-list .yanchanghui .shu-list a:hover{
	color: #FF7919;
}
.shu-list1{
	width: 320px;
	height: 400px;
	position: absolute;
	left: 180px;
	top: 0px;
	background: url(../img/rAoKNVn7qGCAOJ55AAAQU6VnjNw831.jpg);
	display: none;
}
.shu-list1 ul{
	width: 320px;
	height: 400px;
	position: absolute;
	left: 0;
	top: 0;
	box-sizing: border-box;
	padding: 14px 30px;
}
.shu-list1 a{
	display: block;
	width: 90px;
	height: 60px;
	line-height: 60px;

}
.yinyuehui:hover .shu-list1{
	display: block;
}
#manue-list .yinyuehui .shu-list1 a:hover{
	color: #FF7919;
}
.shu-list1 span{
	display: block;
	height: 0;
	width: 50px;
	border-bottom: 1px solid #DDDDDD;
	position: absolute;
	left: 50px;
}




.shu-list2{
	width: 320px;
	height: 400px;
	position: absolute;
	left: 180px;
	top: 0px;
	background: url(../img/rAoKNVn7qHaAfRO2AAAfkohCDbo611.jpg);
	display: none;
}
.shu-list2 ul{
	width: 320px;
	height: 400px;
	position: absolute;
	left: 0;
	top: 0;
	box-sizing: border-box;
	padding: 14px 30px;
}
.shu-list2 a{
	display: block;
	width: 90px;
	height: 60px;
	line-height: 60px;

}
.geju:hover .shu-list2{
	display: block;
}
#manue-list .geju .shu-list2 a:hover{
	color: #FF7919;
}
#manue-list li >a:hover .jiamian{
	background: url(../img/icons_03.png) -37px -114px no-repeat;
}
.jiamian{
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/icons_03.png) -5px -114px no-repeat;
	position: relative;
	top: 15px;
	left: 3px;
}
.shu-list2 span{
	display: block;
	height: 0;
	width: 50px;
	border-bottom: 1px solid #DDDDDD;
	position: absolute;
	left: 50px;
}

.shu-list3{
	width: 320px;
	height: 400px;
	position: absolute;
	left: 180px;
	top: 0px;
	background: url(../img/rAoKNVn7qIyAEHz1AAAVUb-Rf-U430.jpg);
	display: none;
}
.shu-list3 ul{
	width: 320px;
	height: 400px;
	position: absolute;
	left: 0;
	top: 0;
	box-sizing: border-box;
	padding: 14px 30px;
}
.shu-list3 a{
	display: block;
	width: 90px;
	height: 60px;
	line-height: 60px;

}
.ertong1:hover .shu-list3{
	display: block;
}
#manue-list .ertong1 .shu-list3 a:hover{
	color: #FF7919;
}
#manue-list li >a:hover .xiaopihai{
	background: url(../img/icons_03.png) -37px -218px no-repeat;
}
.xiaopihai{
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/icons_03.png) -5px -218px no-repeat;
	position: relative;
	top: 15px;
	left: 3px;
}
.shu-list3 span{
	display: block;
	height: 0;
	width: 50px;
	border-bottom: 1px solid #DDDDDD;
	position: absolute;
	left: 50px;
}
.shu-list4{
	width: 320px;
	height: 400px;
	position: absolute;
	left: 180px;
	top: 0px;
	background: url(../img/rAoKmVn759eAP0M-AAAs0qYO8LA429.jpg);
	display: none;
}
.shu-list4 ul{
	width: 320px;
	height: 400px;
	position: absolute;
	left: 0;
	top: 0;
	box-sizing: border-box;
	padding: 14px 30px;
}
.shu-list4 a{
	display: block;
	width: 90px;
	height: 60px;
	line-height: 60px;

}
.yinyueju:hover .shu-list4{
	display: block;
}
#manue-list .yinyueju .shu-list4 a:hover{
	color: #FF7919;
}
#manue-list li >a:hover .maike{
	background: url(../img/rAoKmVn7qJ2AHHQhAAAGYboMOK8111.png) -34px -6px no-repeat;
}
.maike{
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/rAoKmVn7qJ2AHHQhAAAGYboMOK8111.png) -2px -6px no-repeat;
	position: relative;
	top: 15px;
	left: 3px;
}
.shu-list4 span{
	display: block;
	height: 0;
	width: 50px;
	border-bottom: 1px solid #DDDDDD;
	position: absolute;
	left: 50px;
}

.shu-list5{
	width: 320px;
	height: 400px;
	position: absolute;
	left: 180px;
	top: 0px;
	background: url(../img/rAoKNVn7qM6AUWpcAAAdmaz5K2s662.jpg);
	display: none;
}
.shu-list5 ul{
	width: 320px;
	height: 400px;
	position: absolute;
	left: 0;
	top: 0;
	box-sizing: border-box;
	padding: 14px 30px;
}
.shu-list5 a{
	display: block;
	width: 90px;
	height: 60px;
	line-height: 60px;

}
.xiquzongyi:hover .shu-list5{
	display: block;
}
#manue-list .xiquzongyi .shu-list5 a:hover{
	color: #FF7919;
}
#manue-list li >a:hover .shanzi{
	background: url(../img/icons_03.png) -37px -268px no-repeat;
}
.shanzi{
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/icons_03.png) -5px -268px no-repeat;
	position: relative;
	top: 15px;
	left: 3px;
}
.shu-list5 span{
	display: block;
	height: 0;
	width: 50px;
	border-bottom: 1px solid #DDDDDD;
	position: absolute;
	left: 50px;
}
.qingxingshang{
	position: absolute;
	top:15px;
	left: 150px;
}
.shu-list6{
	width: 320px;
	height: 400px;
	position: absolute;
	left: 180px;
	top: 0px;
	background: url(../img/rAoKNVn7qOaAe51-AAAhAVN4aYw172.jpg);
	display: none;
}
.shu-list6 ul{
	width: 320px;
	height: 400px;
	position: absolute;
	left: 0;
	top: 0;
	box-sizing: border-box;
	padding: 14px 30px;
}
.shu-list6 a{
	display: block;
	width: 90px;
	height: 60px;
	line-height: 60px;

}
.zhanlan:hover .shu-list6{
	display: block;
}
#manue-list .zhanlan .shu-list6 a:hover{
	color: #FF7919;
}
#manue-list li >a:hover .jiubei{
	background: url(../img/icons_03.png) -39px -314px no-repeat;
}
.jiubei{
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/icons_03.png) -7px -314px no-repeat;
	position: relative;
	top: 15px;
	left: 3px;
}


/*轮播图*/
#banner{
	width: 100%;
	height: 400px;
	background: rgb(233,208,219);
}
.kuang0{
	margin: 0 auto;
	width: 1200px;
	height: 400px;
}
.kuang{
	width:1200px ;
	height: 400px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}
.banner-list{
	width: 700%;
	height: 400px;
	position:absolute;
	left: ;
}

#banner img{
	width: 1200px;
	height: 400px;
	position: absolute;
	
}
#banner a{
	width:1200px ;
	height:400px ;
	float: left;
	
}
.prev,.next{
	width: 42px;
	height: 70px;
	background: rgba(0,0,0,.3);
}

.prev{
	position: absolute;
	left: 17%;
	top: 42%;
	z-index: 10;
	background: url(../img/icons_03.png) -89px -47px no-repeat;
	display: none;
}
.next{
	position: absolute;
	right: 2%;
	z-index: 10;
	top: 38%;
	background: url(../img/icons_03.png) -150px -47px no-repeat;
	display: none;
}
.kuang:hover .prev{
	display: block;
}
.kuang:hover .next{
	display: block;
}

.mobtn{
	width: 300px;
	height: 30px;
	position: absolute;
	z-index: 10;
	right: 16%;
	bottom: 3%;
}
.banner-active{
	background: #FFFFFF !important;
}
.mobtn span{
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: rgba(0,0,0,.1);
	margin: 0 10px;
	
}

/*topcard*/
#topcard{
	width: 100%;
	height:auto;
}
.top-kuang{
	width: 1200px;
	height: auto;
	margin: 0 auto;
	
}
.little-card{
	width: 1200px;
	height: 80px;
	margin-top: 25px;
	margin-bottom: 25px;
	
}
.little-card a{
	float: left;
	width: 190px;
	height: 80px;
	box-sizing: border-box;
	padding-left: 14px;
	border: 1px solid #DDDDDD;
	padding-top: 20px;
	margin-left: 12px;
}
.little-card .firsta{
	margin-left: 0;
}
.little-card a div{
		float: left;
}
.little-card p{
	color: rgb(178,178,178);
	font-size: 12px;
}
.little-card span{
	color: #333333;
	font-size: 16px;
}
.jifen,.huanju,.jite,.stu,.jingcai,.yanchu2{
	margin-left: 10px;
}
.yanchudi{
	width: 1200px;
	height: 28px;
}
.beijing{
	width: 49px;
	height: 18px;
	box-sizing: border-box;
	border-left: 3px solid #FF7919;
	padding-left: 10px;
}
.yanchudi div{
	float: left;
}
.beijingzhan{
	margin-left: 20px;
}
.beijingzhan a{
	color: rgb(153,153,153);
	font-size: 14px;
}
.qita1{
	width: 96px;
	height: 28px;
	display: inline-block;
	text-align: right;
}
 .yanchudi .zhuanti1{
	float: right;
	width: 220px;
	height: 28px;
}
.title{
	float: left;
	width: 85px;
	height: 18px;
	box-sizing: border-box;
	border-left: 3px solid #FF7919;
	padding-left: 10px;
}
.zhuanti1 a{
	display: block;
	float: right;
	width: 14px;
	height: 14px;
	background: url(../img/icons_03.png) -348px -12px no-repeat;
	margin-top: 5px;
}
.zhuanti1 a:hover{
	background: url(../img/icons_03.png) -365px -12px no-repeat ;
}

.city-content{
	width: 1200px;
	height: 400px;
	box-sizing: border-box;
	padding-top: 10px;
}
.city-content li{
	width: 220px;
	height: 389px;
	float: left;
	margin-right: 25px;
}
.wenzi a{
	font-size: 14px;
	color: #333333;
	width: 220px;
	height: 41px;
	line-height: 20px;
	display: block;
	box-sizing: border-box;
}
.xianzhi{
	width: 220px;
	height: 292px;
}
.sort{
	float: left;
}
.sort p{
	color: rgb(178,178,178);
	font-size: 14px;
	box-sizing: border-box;
	padding-left: 10px;
	margin-top: 10px;
	border-right: 1px solid #DDDDDD;
	padding-right: 15px;
}
.jiage{
	float: right;
	color: rgb(178,178,178);
	font-size: 14px;
	box-sizing: border-box;
	padding-right: 10px;
}
.jiage span{
	color: #FF7919;
}
.shuzi{
	font-size: 24px;
}
.zhezhaoceng{
	background: rgba(255,121,21,.9);
	width: 220px;
	height: 68px;
	padding: 13px 12px;
	box-sizing: border-box;
	position: absolute;
}

.zhezhaoceng .lubiao{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../img/index.png) -24px -78px no-repeat;
	
}
.zhezhaoceng .zhong{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../img/index.png) -23px -104px no-repeat;
	
}
.zhezhaoceng a{
	color: white;
}
.posire{
	position: relative;
	overflow: hidden;
}
.posire:hover .zhezhaoceng{
	bottom: 0;
	-webkit-animation:mymove 0.2s linear ; 
	}
	@keyframes mymove
	{
	from {bottom:-68px;}
	to {bottom:0;}
	}
.zhuban{
	position: absolute;
	right: 0;
}
.media-list{
	width: 220px;
	height: 330px;
	float: right;
}
.media-img{
	width: 220px;
	height: 110px;
	margin: 10px 0 14px 0;
}
.media-img a{
	display: block;
	width: 220px;
	height: 110px;
}
.media-img img{
	width: 220px;
	height: 110px;
}
.middle-title a{
	font-size: 14px;
}
.middle-title{
	width: 220px;
	height: 35px;
	border-bottom: 1px dashed #DDDDDD;
	margin-bottom: 20px;
}
.juz a{
	font-size: 14px;
	color: rgb(153,153,153);
}
.juz span{
	float: left;
	width: 4px;
	height: 4px;
	background: #DDDDDD;
	float: left;
	border-radius: 100%;
	margin: 10px 10px 10px  0;
}
.item-1{
	margin-bottom: 14px;
	width: 220px;
	height: 55px;
	border-bottom: 1px solid #DDDDDD;
}
.btn-wrap li{
	width: auto;
	height: 34px;
	margin-bottom: 14px;
	margin-right: 16px;
	border: 1px solid #DDDDDD;
}
.btn-wrap li a{
	display: block;
	width: auto;
	height: 34px;
	box-sizing: border-box;
	padding: 0 14px;
	font-size: 14px;
	line-height: 34px;
}

/*巡回演出*/
.xunhuiyanchu{
	width: 1200px;
	height: 393px;
	margin-top: 90px;
	}
.box-tiltle{
	width: 1200px;
	height: 71px;
	box-sizing: border-box;
	padding-bottom: 34px;
	line-height: 37px;
	font-size: 26px;
	text-align: center;
}
.modul-warp{
	width: 1200px;
	height: 322px;
	box-sizing: border-box;
	padding-top: 12px;
	position: relative;
}
.show-hover{
	width: 229px;
	height: 150px;
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
}
.show-hover a{
	display: block;
	width: 229px;
	height: 150px;
	font-size: 14px;
	color: white;
	background: rgba(255,121,25,.9);
	position: absolute;
	box-sizing: border-box;
	padding:15px 10px 0 10px;
}
.show-hover a p{
	position: absolute;
	right: 10px;
	bottom: 10px;
}
.show-hover a b{
	font-size: 26px;
}
.show-hover:hover a{
	bottom: 0;
	-webkit-animation:mymove 0.2s linear ; 
	}
	@keyframes mymove
	{
	from {bottom:-150px;}
	to {bottom:0;}
}
.show-hover1{
	width: 203px;
	height: 310px;
	overflow: hidden;
	position: absolute;
	top: 12px;
	left: 239px;
}
.show-hover1 a{
	display: block;
	width: 203px;
	height: 310px;
	font-size: 14px;
	color: white;
	background: rgba(255,121,25,.9);
	position: absolute;
	box-sizing: border-box;
	padding:15px 10px 0 10px;
}
.show-hover1 a p{
	position: absolute;
	right: 10px;
	bottom: 10px;
}
.show-hover1 a b{
	font-size: 26px;
}
.show-hover1:hover a{
	bottom: 0;
	-webkit-animation:mymove 0.2s linear ; 
	}
	@keyframes mymove
	{
	from {bottom:-150px;}
	to {bottom:0;}
}
.show-hover2{
	width: 135px;
	height: 150px;
	overflow: hidden;
	position: absolute;
	top: 12px;
	left: 452px;
}
.show-hover2 a{
	display: block;
	width: 135px;
	height: 150px;
	font-size: 14px;
	color: white;
	background: rgba(255,121,25,.9);
	position: absolute;
	box-sizing: border-box;
	padding:15px 10px 0 10px;
}
.show-hover2 a p{
	position: absolute;
	right: 10px;
	bottom: 10px;
}
.show-hover2 a b{
	font-size: 26px;
}
.show-hover2:hover a{
	bottom: 0;
	-webkit-animation:mymove 0.2s linear ; 
	}
	@keyframes mymove
	{
	from {bottom:-150px;}
	to {bottom:0;}
}
.show-hover3{
	width: 309px;
	height: 150px;
	overflow: hidden;
	position: absolute;
	top: 12px;
	left: 597px;
}
.show-hover3 a{
	display: block;
	width: 309px;
	height: 150px;
	font-size: 14px;
	color: white;
	background: rgba(255,121,25,.9);
	position: absolute;
	box-sizing: border-box;
	padding:15px 10px 0 10px;
}
.show-hover3 a p{
	position: absolute;
	right: 10px;
	bottom: 10px;
}
.show-hover3 a b{
	font-size: 26px;
}
.show-hover3:hover a{
	bottom: 0;
	-webkit-animation:mymove 0.2s linear ; 
	}
	@keyframes mymove
	{
	from {bottom:-150px;}
	to {bottom:0;}
}
.show-hover4{
	width: 309px;
	height: 150px;
	overflow: hidden;
	position: absolute;
	top: 172px;
	left: 452px;
}
.show-hover4 a{
	display: block;
	width: 309px;
	height: 150px;
	font-size: 14px;
	color: white;
	background: rgba(255,121,25,.9);
	position: absolute;
	box-sizing: border-box;
	padding:15px 10px 0 10px;
}
.show-hover4 a p{
	position: absolute;
	right: 10px;
	bottom: 10px;
}
.show-hover4 a b{
	font-size: 26px;
}
.show-hover4:hover a{
	bottom: 0;
	-webkit-animation:mymove 0.2s linear ; 
	}
	@keyframes mymove
	{
	from {bottom:-150px;}
	to {bottom:0;}
}
.show-hover5{
	width: 135px;
	height: 150px;
	overflow: hidden;
	position: absolute;
	top: 172px;
	left: 771px;
}
.show-hover5 a{
	display: block;
	width: 135px;
	height: 150px;
	font-size: 14px;
	color: white;
	background: rgba(255,121,25,.9);
	position: absolute;
	box-sizing: border-box;
	padding:15px 10px 0 10px;
}
.show-hover5 a p{
	position: absolute;
	right: 10px;
	bottom: 10px;
}
.show-hover5 a b{
	font-size: 26px;
}
.show-hover5:hover a{
	bottom: 0;
	-webkit-animation:mymove 0.2s linear ; 
	}
	@keyframes mymove
	{
	from {bottom:-150px;}
	to {bottom:0;}
}
.show-hover5 img{
	width: 135px;
}
.show-hover6{
	width: 280px;
	height: 310px;
	overflow: hidden;
	position: absolute;
	top: 12px;
	left: 916px;
}
.show-hover6 a{
	display: block;
	width: 280px;
	height: 310px;
	font-size: 14px;
	color: white;
	background: rgba(255,121,25,.9);
	position: absolute;
	box-sizing: border-box;
	padding:15px 10px 0 10px;
}
.show-hover6 a p{
	position: absolute;
	right: 10px;
	bottom: 10px;
}
.show-hover6 a b{
	font-size: 26px;
}
.show-hover6:hover a{
	bottom: 0;
	-webkit-animation:mymove 0.2s linear ; 
	}
	@keyframes mymove
	{
	from {bottom:-150px;}
	to {bottom:0;}
}


/*演唱会！！！！*/
#middlecard{
	width: 100%;
	height: 2000px;
	background: #FAFAFA;
	margin-top: 45px;
	padding-top: 45px;
	
}
.middlekuang{
	width: 1200px;
	height: auto;
	margin: 0 auto;
}
.yan-title{
	width: 1200px;
	height: 71px;
	font-size: 26px;
	color: #333333;
	text-align: center;
	line-height: 37px;
	box-sizing: border-box;
	padding-bottom: 34px;
}
.mingri{
	width: 1200px;
	height: auto;
	text-align: center;
	box-sizing: border-box;
	padding-bottom: 24px;
}
.mingri a{
	display: inline-block;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	box-sizing: border-box;
	padding-right: 10px;
	padding-left: 10px;
	border-right: 1px solid #DDDDDD;
}
.mingri .las{
	border: none;
}
.mingri a:hover{
	color: #FF7919;
}
.city-content1 li{
	margin-right: 20px;
	margin-top: ;
}
.list-2{
	width: 1200px;
	height: 230px;
	margin-top: 20px;
	margin-bottom: 50px;
}
.list-2 >li{
	float: left;
	width: 584px;
	height: 230px;
	border: 1px solid #DDDDDD;
	border-top-color: #FF7919;
	box-sizing: border-box;
	padding-top: 18px;
	padding-left: 18px;
}
.remen{
	width: 552px;
	height: 49px;
	box-sizing: border-box;
	padding-bottom: 24px;
}
.mingxing{
	width: 552px;
	height: 25px;
}
.mingxingtitle{
	line-height: 25px;
	font-size: 18px;
	float: left;
}
.btn-right{
	float: right;
}
.btn-right li{
	width: 10px;
	height: 10px;
	border-radius: 100px;
	background: #DDDDDD;
	float: left;
	margin-left: 10px;
}
.rentou a img{
	width: 80px;
	height: 80px;
	border-radius: 100%;
}
.zuoren{
	float: left;
	width: 170px;
	height: 144px;
	text-align: center;
	box-sizing: border-box;
	padding-top: 20px;
	border-right: 1px solid #DDDDDD;
	padding-right: 10px;
}
.youzi{
	width: 381px;
	height: 149px;
	padding-left: 19px;
	float: right;
	box-sizing: border-box;
}
.jianjie{
	height: 33px;
	width: 357px;
}
.jianjie a{
	line-height: 23px;
	width: 357px;
}
.youzi span{
	color: #FF7919
}
.youzi p{
	color: rgb(153,153,153);
}
.youzi p a{
	color: rgb(153,153,153);
}
