.diyihang {
  width: 912px;
  height: 49px;
  margin-left: 29px;
  margin-right: 29px;
  padding: 10px 20px 10px 0;
  border-bottom: 1px dashed #DDDDDD; }
  .diyihang span {
    color: #ddd;
    margin: 0 3px; }
  .diyihang div {
    float: left; }
  .diyihang .filt-name {
    width: 76px;
    height: 22px;
    font-size: 14px;
    color: #999999; }
  .diyihang .filt-all {
    height: 24px;
    box-sizing: border-box;
    border-radius: 10%; }
    .diyihang .filt-all > a {
      display: block;
      width: 38px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      color: #FFFFFF;
      background: #F85907;
      float: left;
      font-size: 12px; }
    .diyihang .filt-all span {
      float: right; }
  .diyihang .all-city {
    width: 769px;
    height: 49px;
    box-sizing: border-box;
    float: left; }
    .diyihang .all-city .filt-city {
      height: 24px;
      box-sizing: border-box;
      border-radius: 10%; }
      .diyihang .all-city .filt-city a {
        display: inline-block;
        height: 24px;
        font-size: 12px;
        padding: 0 6px;
        line-height: 22px; }
      .diyihang .all-city .filt-city a:hover {
        color: #FFFFFF;
        background: #F85907; }
      .diyihang .all-city .filt-city span {
        float: right; }

.dierhang {
  width: 912px;
  height: 49px;
  margin-left: 29px;
  margin-right: 29px;
  padding: 10px 20px 10px 0;
  border-bottom: 1px dashed #DDDDDD; }
  .dierhang span {
    color: #ddd;
    margin: 0 3px; }
  .dierhang .filt-leix1, .dierhang .filt-leix, .dierhang .leixall, .dierhang .filt-all1, .dierhang .filt-name {
    float: left; }
  .dierhang .filt-name {
    width: 76px;
    height: 22px;
    font-size: 14px;
    color: #999; }
  .dierhang .filt-all1 {
    height: 24px;
    box-sizing: border-box;
    border-radius: 10%; }
    .dierhang .filt-all1 a {
      display: block;
      width: 38px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      color: #333;
      float: left;
      font-size: 12px; }
      .dierhang .filt-all1 a:hover {
        color: #FFFFFF;
        background: #F85907; }
    .dierhang .filt-all1 span {
      float: right; }
  .dierhang .leixall {
    width: 769px;
    height: 24px;
    box-sizing: border-box;
    border-radius: 10%; }
    .dierhang .leixall .filt-leix a {
      display: block;
      width: 38px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      color: #FFFFFF;
      background: #F85907;
      float: left;
      font-size: 12px;
      padding: 0 6px; }
    .dierhang .leixall .filt-leix1 a {
      display: block;
      height: 24px;
      text-align: center;
      line-height: 24px;
      color: #333;
      float: left;
      font-size: 12px;
      padding: 0 6px; }
      .dierhang .leixall .filt-leix1 a:hover {
        color: #FFFFFF;
        background: #F85907; }
    .dierhang .leixall span {
      float: right; }
  .dierhang .filt-all2 {
    width: 60px;
    height: 24px;
    float: none;
    margin-left: 76px;
    float: left;
    margin-top: 5px; }
    .dierhang .filt-all2 a {
      display: block;
      width: 38px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      color: #999;
      float: left;
      font-size: 12px; }
      .dierhang .filt-all2 a:hover {
        color: #FFFFFF;
        background: #F85907; }
  .dierhang .leixall2 {
    float: left;
    width: 769px;
    height: 24px;
    box-sizing: border-box;
    border-radius: 10%;
    margin-top: 5px; }
    .dierhang .leixall2 .filt-leix3 {
      float: left;
      margin-right: 15px; }
      .dierhang .leixall2 .filt-leix3 a {
        display: block;
        width: 38px;
        height: 24px;
        text-align: center;
        line-height: 24px;
        color: #FFFFFF;
        background: #F85907;
        float: left;
        font-size: 12px;
        padding: 0 6px; }
    .dierhang .leixall2 .filt-leix4 {
      float: left;
      margin-right: 15px; }
      .dierhang .leixall2 .filt-leix4 a {
        display: block;
        height: 24px;
        text-align: center;
        line-height: 24px;
        color: #999;
        float: left;
        font-size: 12px;
        padding: 0 6px; }
        .dierhang .leixall2 .filt-leix4 a:hover {
          color: #FFFFFF;
          background: #F85907;
          float: left; }
    .dierhang .leixall2 span {
      float: right; }

.disanhang {
  border-bottom: 1px dashed #eee;
  width: 912px;
  height: 45px;
  box-sizing: border-box;
  padding: 10px 20px 10px 0;
  margin-left: 29px; }
  .disanhang .filt-name {
    width: 76px;
    height: 22px;
    font-size: 14px;
    color: #999999;
    float: left; }
  .disanhang .filt-all4 {
    width: 56px;
    height: 24px;
    float: left; }
    .disanhang .filt-all4 a {
      height: 24px;
      line-height: 24px;
      background: #F85907;
      font-size: 14px;
      color: #FFFFFF; }
    .disanhang .filt-all4 span {
      color: #DDDDDD;
      margin-left: 5px; }
  .disanhang .shijianall {
    width: 769px;
    height: 24px; }
    .disanhang .shijianall .filt-time {
      height: 24px;
      float: left; }
      .disanhang .shijianall .filt-time a {
        display: inline-block;
        font-size: 14px;
        color: #333333;
        padding: 0 6px; }
        .disanhang .shijianall .filt-time a:hover {
          color: #FFFFFF;
          background: #F85907; }
      .disanhang .shijianall .filt-time span {
        color: #DDDDDD; }

.disihang {
  width: 912px;
  height: 46px;
  margin-left: 29px;
  padding: 10px 20px 10px 0;
  box-sizing: border-box;
  border-bottom: 1px dashed #DDDDDD; }
  .disihang .filt-name {
    width: 76px;
    height: 24px;
    font-size: 14px;
    height: 24px;
    color: #999999;
    float: left; }
  .disihang .gezyouhui {
    float: left; }
    .disihang .gezyouhui a {
      font-size: 14px;
      color: #333333;
      display: inline-block;
      padding: 0 6px; }

.diwuhang {
  width: 912px;
  height: 70px;
  margin-left: 29px;
  box-sizing: border-box;
  padding: 20px 20px 10px 0; }
  .diwuhang .filt-name {
    width: 76px;
    height: 24px;
    float: left;
    font-size: 14px;
    color: #999; }

.push {
  width: 226px;
  height: 436px;
  float: right; }
  .push .groom {
    width: 226px;
    height: 436px;
    box-sizing: border-box;
    padding: 0 14px;
    position: relative; }
    .push .groom h4 {
      width: 198px;
      height: 54px;
      line-height: 54px;
      font-size: 16px;
      font-weight: normal; }
    .push .groom .groomjs {
      width: 198px;
      height: 382px; }
      .push .groom .groomjs .shuangtu {
        width: 198px;
        height: 252px; }
        .push .groom .groomjs .shuangtu .hide {
          width: 198px;
          height: 365px;
          position: relative;
          position: absolute; }
          .push .groom .groomjs .shuangtu .hide img {
            width: 198px;
            height: auto;
            overflow: hidden; }
          .push .groom .groomjs .shuangtu .hide .yip {
            position: absolute;
            width: 198px;
            height: 50px;
            padding: 3px 10px;
            box-sizing: border-box;
            font-size: 14px;
            color: #FFFFFF;
            top: 215px;
            background: rgba(0, 0, 0, 0.2); }
          .push .groom .groomjs .shuangtu .hide .info {
            width: 198px;
            height: 82px;
            margin-top: 10px; }
            .push .groom .groomjs .shuangtu .hide .info .erp {
              font-size: 14px;
              line-height: 20px;
              color: #666666;
              line-height: 20px;
              margin-bottom: 10px; }
              .push .groom .groomjs .shuangtu .hide .info .erp .qiant {
                color: #FF7919;
                font-size: 14px; }
              .push .groom .groomjs .shuangtu .hide .info .erp .shuzi {
                color: #FF7919;
                font-size: 14px; }
  .push .dianaa {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #FF7919;
    position: absolute;
    bottom: 3px;
    left: 90px;
    cursor: pointer; }
  .push .dianbb {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 3px;
    left: 110px;
    cursor: pointer; }

.search-result {
  width: 1200px;
  height: auto;
  margin-top: 20px; }
  .search-result .rusult-left {
    width: 957px;
    height: auto;
    background: #FFFFFF; }
    .search-result .rusult-left .shangtiao {
      width: 957px;
      height: 40px;
      border: 1px solid #DDDDDD; }
      .search-result .rusult-left .shangtiao ul {
        width: 169px;
        height: 39px;
        line-height: 39px;
        float: right;
        font-size: 12px; }
        .search-result .rusult-left .shangtiao ul li {
          float: left;
          width: 67px;
          height: 39px; }
        .search-result .rusult-left .shangtiao ul .fangshi1 {
          width: 51px;
          border-left: 1px solid #DDDDDD;
          box-sizing: border-box; }
          .search-result .rusult-left .shangtiao ul .fangshi1 a {
            display: inline-block;
            width: 50px;
            height: 39px;
            box-sizing: border-box;
            padding: 0 16px; }
            .search-result .rusult-left .shangtiao ul .fangshi1 a span {
              display: block;
              margin-top: 12px;
              width: 16px;
              height: 16px;
              background: url(../img/icon-global-list.png) -35px -175px no-repeat; }
              .search-result .rusult-left .shangtiao ul .fangshi1 a span:hover {
                background: url(../img/icon-global-list.png) -7px -175px no-repeat; }
        .search-result .rusult-left .shangtiao ul .fangshi2 {
          width: 51px;
          border-left: 1px solid #DDDDDD;
          box-sizing: border-box; }
          .search-result .rusult-left .shangtiao ul .fangshi2 a {
            display: inline-block;
            width: 50px;
            height: 39px;
            box-sizing: border-box;
            padding: 0 16px; }
            .search-result .rusult-left .shangtiao ul .fangshi2 a span {
              display: block;
              margin-top: 12px;
              width: 16px;
              height: 16px;
              background: url(../img/icon-global-list.png) -34px -204px no-repeat; }
              .search-result .rusult-left .shangtiao ul .fangshi2 a span:hover {
                background: url(../img/icon-global-list.png) -6px -204px no-repeat; }
    .search-result .rusult-left .left1box {
      width: 957px;
      height: auto; }
      .search-result .rusult-left .left1box .left2box {
        width: 957px;
        height: auto; }
        .search-result .rusult-left .left1box .left2box .left3box {
          width: 957px;
          height: auto; }
          .search-result .rusult-left .left1box .left2box .left3box .collect-item1 {
            width: 955px;
            height: 256px;
            box-sizing: border-box;
            padding-left: 17px;
            padding-top: 25px;
            border-bottom: 1px solid #DDDDDD; }
            .search-result .rusult-left .left1box .left2box .left3box .collect-item1 .clit-img {
              width: 154px;
              height: 205px;
              float: left;
              position: relative; }
              .search-result .rusult-left .left1box .left2box .left3box .collect-item1 .clit-img i {
                display: inline-block;
                width: 37px;
                height: 53px;
                background: url(../img/icon-global.png) -232px 0 no-repeat;
                position: absolute;
                right: 0; }
              .search-result .rusult-left .left1box .left2box .left3box .collect-item1 .clit-img img {
                width: 154px;
                height: auto; }
            .search-result .rusult-left .left1box .left2box .left3box .collect-item1 .clit-info {
              width: 493px;
              height: 177px;
              float: left;
              padding-left: 10px; }
              .search-result .rusult-left .left1box .left2box .left3box .collect-item1 .clit-info h3 {
                width: 493px;
                height: 40px;
                box-sizing: border-box;
                padding-top: 5px;
                padding-bottom: 10px;
                font-size: 16px;
                font-weight: normal;
                color: #333333;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis; }
              .search-result .rusult-left .left1box .left2box .left3box .collect-item1 .clit-info p {
                width: 493px;
                height: 33px;
                line-height: 33px;
                font-size: 13px;
                color: #666666;
                margin-left: 10px; }
                .search-result .rusult-left .left1box .left2box .left3box .collect-item1 .clit-info p .rmb {
                  color: #FF7919; }
                .search-result .rusult-left .left1box .left2box .left3box .collect-item1 .clit-info p .rnm {
                  color: #FF7919;
                  font-size: 18px; }
              .search-result .rusult-left .left1box .left2box .left3box .collect-item1 .clit-info .dayinji {
                width: 493px;
                height: 17px;
                font-size: 12px;
                color: #333333; }
                .search-result .rusult-left .left1box .left2box .left3box .collect-item1 .clit-info .dayinji b {
                  display: inline-block;
                  width: 16px;
                  height: 16px;
                  background: url(../img/icon-global-list.png) -566px -7px no-repeat; }
            .search-result .rusult-left .left1box .left2box .left3box .collect-item1 .clit-btn {
              width: 270px;
              height: 44px;
              margin-top: 50px;
              float: left; }
              .search-result .rusult-left .left1box .left2box .left3box .collect-item1 .clit-btn .goupbtn {
                width: 129px;
                height: 44px; }
                .search-result .rusult-left .left1box .left2box .left3box .collect-item1 .clit-btn .goupbtn a {
                  width: 119px;
                  height: 34px;
                  background: #FF7919;
                  display: inline-block;
                  text-align: center;
                  line-height: 34px;
                  color: #FFFFFF;
                  border-radius: 3px; }
              .search-result .rusult-left .left1box .left2box .left3box .collect-item1 .clit-btn .guanzbtn {
                width: 89px;
                height: 44px; }
                .search-result .rusult-left .left1box .left2box .left3box .collect-item1 .clit-btn .guanzbtn a {
                  display: inline-block;
                  margin: 5px 5px;
                  border: 1px solid #DDDDDD;
                  box-sizing: border-box;
                  padding: 7px 18px; }
                  .search-result .rusult-left .left1box .left2box .left3box .collect-item1 .clit-btn .guanzbtn a i {
                    display: inline-block; }

.chakangengduo {
  width: 957px;
  height: 48px;
  margin: 45px 0; }
  .chakangengduo a {
    width: 180px;
    height: 48px;
    border-radius: 50px;
    border: 1px solid #DDDDDD;
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 48px; }
    .chakangengduo a:hover {
      color: #FF7919; }

/*# sourceMappingURL=body3.css.map */
